*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  color: var(--color-dark-primary);
}

/* colors */
:root {
  --color-dark-primary: #130505;
  --color-dark: #0e0e0e;
  --color-gray: #f7f7f7;
  --color-secondary: #7f7f88;
  --color-secondary-light: #e6e6e6;
  --color-blue: #2e7af1;
  --color-blue-light: #448cf91a;
  --color-red: #cc312d;
  --color-red-dark: #2f0d0c;
  --color-red-light: #fff4f8;
}

/* Ready-made classes */
.bg-white {
  background-color: #fff;
}
.text-white {
  color: #fff;
}
.bg-gray {
  background-color: var(--color-gray);
}
.bg-secondary {
  background-color: var(--color-secondary);
}
.text-secondary {
  color: var(--color-secondary);
}
.bg-secondary-dark {
  background-color: var(--color-red-dark);
}
.bg-secondary-light {
  background-color: var(--color-secondary-light);
}
.text-secondary-light {
  background-color: var(--color-secondary-light);
}
.bg-blue-light {
  background-color: var(--color-blue-light);
}
.bg-red {
  background-color: var(--color-red);
}
.bg-red-light {
  background-color: var(--color-red-light);
}
.text-red {
  color: var(--color-red);
}
/* container */
.container {
  max-width: 1680px;
  margin: 0 auto;
  padding: 24px;
  font-size: 1.4rem;
}
h1 {
  font-size: 2.2rem;
}

/* sidebar */
.sidebar {
  padding: 32px 16px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 800;
  font-size: 1.2rem;
}
.sidebar__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-secondary-light);
}
.sidebar__user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sidebar__user-data {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 1.2rem;
  font-weight: bolder;
}
.sidebar__user-image {
  display: flex;
  width: fit-content;
  padding: 16px;
  border-radius: 8px;
}
.sidebar__edit-icon {
  /* display: flex; */
}

/* items */
.sidebar__items {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.sidebar__item {
  border-radius: 32px;
  padding: 16px;
  display: flex;
  gap: 16px;
}

/* sections */
.title-section {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  text-align: center;
  font-weight: 900;
  padding: 40px 0 20px 0;
  border-bottom: 1px solid var(--color-secondary-light);
}
.title-section__text {
  flex: 1;
}
.title-section__icon {
  display: flex;
  position: absolute;
}
/* dashboard status */

.dashboard-status {
  width: 12px;
  display: flex;
}
.dashboard-status__box {
  border-radius: 16px;
  display: flex;
  padding: 20px;
  border: 1px solid var(--color-red-dark);
  width: 600px;
}
.dashboard-status__icon {
  position: relative;
  min-width: 44px;
  min-height: 44px;
  border-radius: 10px;
  background-color: var(--color-blue-light);
}

.dashboard-status__icon > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
